In [2]:
import sqlalchemy
import psycopg2
PostgresDB_URI = 'postgres+psycopg2://postgres:admin@localhost:5432/postgres'

In [3]:
from sqlalchemy import create_engine 
engine = create_engine(PostgresDB_URI)
connection = engine.connect() 
connection = connection.execution_options(isolation_level="READ COMMITTED") 

from sqlalchemy.sql import text
MyQuery = text("SELECT * FROM \"Address\"") 
srinurow = connection.execute(MyQuery).fetchall() 
#print(srinurow)

In [4]:
import pandas as pd
import numpy as np
data_srinurow = pd.DataFrame(srinurow)
data_srinurow.columns = ['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
#data_srinurow
#accessing row wise
data_srinurow.apply(lambda x: x)

,address_id,address,address2,district,city_id,postal_code,phone,last_update
0,2,28 MySQL Boulevard,None,QLD,576,NaN,None,2/15/2006 9:45
1,4,1411 Lillydale Drive,None,QLD,576,NaN,(617) 223-5589,2/15/2006 9:45
2,5,1913 Hanoi Way,None,Nagasaki,463,35200.0,(2830) 338-4290,2/15/2006 9:45
3,6,1121 Loja Avenue,None,California,449,17886.0,(83863) 528-6649,2/15/2006 9:45
4,7,692 Joliet Street,None,Attika,38,83579.0,(44847) 719-0408,2/15/2006 9:45
5,8,1566 Inegl Manor,None,Mandalay,349,53561.0,(70581) 400-3527,2/15/2006 9:45
6,9,53 Idfu Parkway,None,Nantou,361,42399.0,(1065) 564-8674,2/15/2006 9:45
7,10,1795 Santiago de Compostela Way,None,Texas,295,18743.0,(86045) 262-6434,2/15/2006 9:45
8,11,900 Santiago de Compostela Parkway,None,Central Serbia,280,93896.0,(71657) 122-0373,2/15/2006 9:45
9,12,478 Joliet Way,None,Hamilton,200,77948.0,(65728) 228-5970,2/15/2006 9:45
10,13,613 Korolev Drive,None,Masqat,329,45844.0,(38065) 752-2649,2/15/2006 9:45
11,14,1531 Sal Drive,None,Esfahan,162,53628.0,(64885) 693-6185,2/15/2006 9:45
12,15,1542 Tarlac Parkway,None,Kanagawa,440,1027.0,(63529) 727-7345,2/15/2006 9:45
13,16,808 Bhopal Manor,None,Haryana,582,10672.0,(46588) 780-7014,2/15/2006 9:45
14,17,270 Amroha Parkway,None,Osmaniye,384,29610.0,(69547) 968-7538,2/15/2006 9:45
15,18,770 Bydgoszcz Avenue,None,California,120,16266.0,(51733) 831-4235,2/15/2006 9:45
16,19,419 Iligan Lane,None,Madhya Pradesh,76,72878.0,(99091) 110-7354,2/15/2006 9:45
17,20,360 Toulouse Parkway,None,England,495,54308.0,(94931) 233-3307,2/15/2006 9:45
18,21,270 Toulon Boulevard,None,Kalmykia,156,81766.0,(40775) 241-4682,2/15/2006 9:45
19,22,320 Brest Avenue,None,Kaduna,252,43331.0,(74779) 159-4069,2/15/2006 9:45
20,23,1417 Lancaster Avenue,None,Northern Cape,267,72192.0,(27257) 235-7893,2/15/2006 9:45
21,24,1688 Okara Way,None,Nothwest Border Prov,327,21954.0,(14445) 386-9132,2/15/2006 9:45
22,25,262 A Corua (La Corua) Parkway,None,Dhaka,525,34418.0,(89277) 575-0063,2/15/2006 9:45
23,26,28 Charlotte Amalie Street,None,Rabat-Sal-Zammour-Z,443,37551.0,(16196) 837-4323,2/15/2006 9:45
24,27,1780 Hino Boulevard,None,Liepaja,303,7716.0,(90273) 122-9323,2/15/2006 9:45
25,28,96 Tafuna Way,None,Crdoba,128,99865.0,(93473) 018-7245,2/15/2006 9:45
26,29,934 San Felipe de Puerto Plata Street,None,Sind,472,99780.0,(19649) 594-5706,2/15/2006 9:45
27,30,18 Duisburg Boulevard,None,None,121,58327.0,(99800) 977-7982,2/15/2006 9:45
28,31,217 Botshabelo Place,None,Southern Mindanao,138,49521.0,(66535) 657-2025,2/15/2006 9:45
29,32,1425 Shikarpur Manor,None,Bihar,346,65599.0,(67822) 086-7005,2/15/2006 9:45
...,...,...,...,...,...,...,...,...
573,578,1405 Hagonoy Avenue,None,Slaskie,133,86587.0,(86728) 771-9310,2/15/2006 9:45
574,579,521 San Juan Bautista Tuxtepec Place,None,Qaraghandy,598,95093.0,(84401) 834-8565,2/15/2006 9:45
575,580,923 Tangail Boulevard,None,Tokyo-to,10,33384.0,(31552) 826-9898,2/15/2006 9:45
576,581,186 Skikda Lane,None,Morelos,131,89422.0,(1446) 566-9789,2/15/2006 9:45
577,582,1568 Celaya Parkway,None,Kaohsiung,168,34750.0,(27866) 999-4384,2/15/2006 9:45
578,583,1489 Kakamigahara Lane,None,Taipei,526,98883.0,(2934) 184-9811,2/15/2006 9:45
579,584,1819 Alessandria Loop,None,Campeche,103,53829.0,(37763) 399-4405,2/15/2006 9:45
580,585,1208 Tama Loop,None,Ninawa,344,73605.0,(95478) 605-4144,2/15/2006 9:45
581,586,951 Springs Lane,None,Central Mindanao,219,96115.0,(16516) 476-1435,2/15/2006 9:45
582,587,760 Miyakonojo Drive,None,Guerrero,246,64682.0,(29444) 905-8179,2/15/2006 9:45
583,588,966 Asuncin Way,None,Hidalgo,212,62703.0,(99552) 737-8381,2/15/2006 9:45
584,589,1584 Ljubertsy Lane,None,England,494,22954.0,(28571) 008-9439,2/15/2006 9:45
585,590,247 Jining Parkway,None,Banjul,54,53446.0,(17011) 537-9190,2/15/2006 9:45
586,591,773 Dallas Manor,None,Buenos Aires,424,12664.0,(91446) 602-7044,2/15/2006 9:45
587,592,1923 Stara Zagora Lane,None,Nantou,546,95179.0,(18217) 860-9211,2/15/2006 9:45
588,593,1402 Zanzibar Boulevard,None,Guanajuato,106,71102.0,(38744) 806-3440,2/15/2006 9:45
589,594,1464 Kursk Parkway,None,Shandong,574,17381.0,(33875) 804-8786,2/15/2006 9:45
590,595,1074 Sanaa Parkway,None,Loja,311,22474.0,(15412) 412-8457,2/15/2006 9:45
591,596,1759 Niznekamsk Avenue,None,al-Manama,14,39414.0,(86439) 258-2257,2/15/2006 9:45
592,597,32 Liaocheng Way,None,Minas Gerais,248,1944.0,(41087) 735-4933,2/15/2006 9:45
593,598,42 Fontana Avenue,None,Fejr,512,14684.0,(43782) 980-1725,2/15/2006 9:45
594,599,1895 Zhezqazghan Drive,None,California,177,36693.0,(13780) 974-6111,2/15/2006 9:45
595,600,1837 Kaduna Parkway,None,Inner Mongolia,241,82580.0,(64084) 356-2301,2/15/2006 9:45
596,601,844 Bucuresti Place,None,Liaoning,242,36603.0,(93595) 236-6111,2/15/2006 9:45
597,602,1101 Bucuresti Boulevard,None,West Greece,401,97661.0,(19951) 458-0428,2/15/2006 9:45
598,603,1103 Quilmes Boulevard,None,Piura,503,52137.0,(64402) 138-0889,2/15/2006 9:45
599,604,1331 Usak Boulevard,None,Vaud,296,61960.0,(14530) 871-7464,2/15/2006 9:45
600,605,1325 Fukuyama Street,None,Heilongjiang,537,27107.0,(28824) 121-5394,2/15/2006 9:45
601,1,47 MySakila Drive,None,Alberta,300,NaN,None,2/15/2006 9:45
602,3,23 Workhaven Lane,None,Alberta,300,NaN,(1403) 333-5568,2/15/2006 9:45

In [5]:
# access first row
data_srinurow.apply(lambda x: x[0])

address_id                      2
address        28 MySQL Boulevard
address2                     None
district                      QLD
city_id                       576
postal_code                   NaN
phone                        None
last_update        2/15/2006 9:45
dtype: object

In [6]:
# access first column by index
data_srinurow.apply(lambda x: x[0], axis=1)

0        2
1        4
2        5
3        6
4        7
5        8
6        9
7       10
8       11
9       12
10      13
11      14
12      15
13      16
14      17
15      18
16      19
17      20
18      21
19      22
20      23
21      24
22      25
23      26
24      27
25      28
26      29
27      30
28      31
29      32
      ...
573    578
574    579
575    580
576    581
577    582
578    583
579    584
580    585
581    586
582    587
583    588
584    589
585    590
586    591
587    592
588    593
589    594
590    595
591    596
592    597
593    598
594    599
595    600
596    601
597    602
598    603
599    604
600    605
601      1
602      3
dtype: int64

In [7]:
#access by column name
data_srinurow.apply(lambda x: x["address"], axis=1)[:5]

0      28 MySQL Boulevard
1    1411 Lillydale Drive
2          1913 Hanoi Way
3        1121 Loja Avenue
4       692 Joliet Street
dtype: object

In [28]:
#import pandas as pd
#data_srinurow = pd.DataFrame(srinurow)
#data_srinurow.apply(lambda x: x)
#data_srinurow.columns = ['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']

In [8]:
# before clipping
data_srinurow["city_id"][:5]

0    576
1    576
2    463
3    449
4     38
Name: city_id, dtype: int64

In [9]:
# clip city_id if it is greater than 0 and less than equat to 100
def clip_city_id(city_id):
    if city_id > 0 and city_id <=100 :
        city_id = "ALPHA"
        return city_id
    
# after clipping
data_srinurow["city_id"].apply(lambda x: clip_city_id(x)) [:100]

0      None
1      None
2      None
3      None
4     ALPHA
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16    ALPHA
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
      ...
70    ALPHA
71    ALPHA
72    ALPHA
73     None
74     None
75     None
76     None
77     None
78    ALPHA
79     None
80     None
81     None
82     None
83     None
84     None
85    ALPHA
86    ALPHA
87     None
88     None
89     None
90     None
91     None
92    ALPHA
93     None
94     None
95    ALPHA
96     None
97    ALPHA
98     None
99    ALPHA
Name: city_id, dtype: object

In [10]:
#clip city_id2
def clip_city_id(city_id):
    if city_id > 0 and city_id <=100 :
        city_id = "ALPHA"
    elif city_id > 100 and city_id <=300:
        city_id = "BETA"
    elif city_id >400 and city_id <=500:
        city_id = "DELTA"
    else:
        city_id = "GAMA"
    return city_id

state_output = data_srinurow["city_id"].apply(lambda x: clip_city_id(x)) [:100]
#state_output.rename(columns = {'city_id':'state'}, inplace = True)
#print(state_output)
#print(data_srinurow)
#result = pd.merge(data_srinurow,pd.DataFrame(state_output), on='city_id', how='right')
#result
#pd.merge(data_srinurow, pd.DataFrame(state_output))
#type(pd.DataFrame(state_output))
#type(data_srinurow)
result = pd.concat([data_srinurow,pd.DataFrame(state_output)], axis=1)
result.columns = ['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update', 'state']
pd.DataFrame(result)

,address_id,address,address2,district,city_id,postal_code,phone,last_update,state
0,2,28 MySQL Boulevard,None,QLD,576,NaN,None,2/15/2006 9:45,GAMA
1,4,1411 Lillydale Drive,None,QLD,576,NaN,(617) 223-5589,2/15/2006 9:45,GAMA
2,5,1913 Hanoi Way,None,Nagasaki,463,35200.0,(2830) 338-4290,2/15/2006 9:45,DELTA
3,6,1121 Loja Avenue,None,California,449,17886.0,(83863) 528-6649,2/15/2006 9:45,DELTA
4,7,692 Joliet Street,None,Attika,38,83579.0,(44847) 719-0408,2/15/2006 9:45,ALPHA
5,8,1566 Inegl Manor,None,Mandalay,349,53561.0,(70581) 400-3527,2/15/2006 9:45,GAMA
6,9,53 Idfu Parkway,None,Nantou,361,42399.0,(1065) 564-8674,2/15/2006 9:45,GAMA
7,10,1795 Santiago de Compostela Way,None,Texas,295,18743.0,(86045) 262-6434,2/15/2006 9:45,BETA
8,11,900 Santiago de Compostela Parkway,None,Central Serbia,280,93896.0,(71657) 122-0373,2/15/2006 9:45,BETA
9,12,478 Joliet Way,None,Hamilton,200,77948.0,(65728) 228-5970,2/15/2006 9:45,BETA
10,13,613 Korolev Drive,None,Masqat,329,45844.0,(38065) 752-2649,2/15/2006 9:45,GAMA
11,14,1531 Sal Drive,None,Esfahan,162,53628.0,(64885) 693-6185,2/15/2006 9:45,BETA
12,15,1542 Tarlac Parkway,None,Kanagawa,440,1027.0,(63529) 727-7345,2/15/2006 9:45,DELTA
13,16,808 Bhopal Manor,None,Haryana,582,10672.0,(46588) 780-7014,2/15/2006 9:45,GAMA
14,17,270 Amroha Parkway,None,Osmaniye,384,29610.0,(69547) 968-7538,2/15/2006 9:45,GAMA
15,18,770 Bydgoszcz Avenue,None,California,120,16266.0,(51733) 831-4235,2/15/2006 9:45,BETA
16,19,419 Iligan Lane,None,Madhya Pradesh,76,72878.0,(99091) 110-7354,2/15/2006 9:45,ALPHA
17,20,360 Toulouse Parkway,None,England,495,54308.0,(94931) 233-3307,2/15/2006 9:45,DELTA
18,21,270 Toulon Boulevard,None,Kalmykia,156,81766.0,(40775) 241-4682,2/15/2006 9:45,BETA
19,22,320 Brest Avenue,None,Kaduna,252,43331.0,(74779) 159-4069,2/15/2006 9:45,BETA
20,23,1417 Lancaster Avenue,None,Northern Cape,267,72192.0,(27257) 235-7893,2/15/2006 9:45,BETA
21,24,1688 Okara Way,None,Nothwest Border Prov,327,21954.0,(14445) 386-9132,2/15/2006 9:45,GAMA
22,25,262 A Corua (La Corua) Parkway,None,Dhaka,525,34418.0,(89277) 575-0063,2/15/2006 9:45,GAMA
23,26,28 Charlotte Amalie Street,None,Rabat-Sal-Zammour-Z,443,37551.0,(16196) 837-4323,2/15/2006 9:45,DELTA
24,27,1780 Hino Boulevard,None,Liepaja,303,7716.0,(90273) 122-9323,2/15/2006 9:45,GAMA
25,28,96 Tafuna Way,None,Crdoba,128,99865.0,(93473) 018-7245,2/15/2006 9:45,BETA
26,29,934 San Felipe de Puerto Plata Street,None,Sind,472,99780.0,(19649) 594-5706,2/15/2006 9:45,DELTA
27,30,18 Duisburg Boulevard,None,None,121,58327.0,(99800) 977-7982,2/15/2006 9:45,BETA
28,31,217 Botshabelo Place,None,Southern Mindanao,138,49521.0,(66535) 657-2025,2/15/2006 9:45,BETA
29,32,1425 Shikarpur Manor,None,Bihar,346,65599.0,(67822) 086-7005,2/15/2006 9:45,GAMA
...,...,...,...,...,...,...,...,...,...
573,578,1405 Hagonoy Avenue,None,Slaskie,133,86587.0,(86728) 771-9310,2/15/2006 9:45,NaN
574,579,521 San Juan Bautista Tuxtepec Place,None,Qaraghandy,598,95093.0,(84401) 834-8565,2/15/2006 9:45,NaN
575,580,923 Tangail Boulevard,None,Tokyo-to,10,33384.0,(31552) 826-9898,2/15/2006 9:45,NaN
576,581,186 Skikda Lane,None,Morelos,131,89422.0,(1446) 566-9789,2/15/2006 9:45,NaN
577,582,1568 Celaya Parkway,None,Kaohsiung,168,34750.0,(27866) 999-4384,2/15/2006 9:45,NaN
578,583,1489 Kakamigahara Lane,None,Taipei,526,98883.0,(2934) 184-9811,2/15/2006 9:45,NaN
579,584,1819 Alessandria Loop,None,Campeche,103,53829.0,(37763) 399-4405,2/15/2006 9:45,NaN
580,585,1208 Tama Loop,None,Ninawa,344,73605.0,(95478) 605-4144,2/15/2006 9:45,NaN
581,586,951 Springs Lane,None,Central Mindanao,219,96115.0,(16516) 476-1435,2/15/2006 9:45,NaN
582,587,760 Miyakonojo Drive,None,Guerrero,246,64682.0,(29444) 905-8179,2/15/2006 9:45,NaN
583,588,966 Asuncin Way,None,Hidalgo,212,62703.0,(99552) 737-8381,2/15/2006 9:45,NaN
584,589,1584 Ljubertsy Lane,None,England,494,22954.0,(28571) 008-9439,2/15/2006 9:45,NaN
585,590,247 Jining Parkway,None,Banjul,54,53446.0,(17011) 537-9190,2/15/2006 9:45,NaN
586,591,773 Dallas Manor,None,Buenos Aires,424,12664.0,(91446) 602-7044,2/15/2006 9:45,NaN
587,592,1923 Stara Zagora Lane,None,Nantou,546,95179.0,(18217) 860-9211,2/15/2006 9:45,NaN
588,593,1402 Zanzibar Boulevard,None,Guanajuato,106,71102.0,(38744) 806-3440,2/15/2006 9:45,NaN
589,594,1464 Kursk Parkway,None,Shandong,574,17381.0,(33875) 804-8786,2/15/2006 9:45,NaN
590,595,1074 Sanaa Parkway,None,Loja,311,22474.0,(15412) 412-8457,2/15/2006 9:45,NaN
591,596,1759 Niznekamsk Avenue,None,al-Manama,14,39414.0,(86439) 258-2257,2/15/2006 9:45,NaN
592,597,32 Liaocheng Way,None,Minas Gerais,248,1944.0,(41087) 735-4933,2/15/2006 9:45,NaN
593,598,42 Fontana Avenue,None,Fejr,512,14684.0,(43782) 980-1725,2/15/2006 9:45,NaN
594,599,1895 Zhezqazghan Drive,None,California,177,36693.0,(13780) 974-6111,2/15/2006 9:45,NaN
595,600,1837 Kaduna Parkway,None,Inner Mongolia,241,82580.0,(64084) 356-2301,2/15/2006 9:45,NaN
596,601,844 Bucuresti Place,None,Liaoning,242,36603.0,(93595) 236-6111,2/15/2006 9:45,NaN
597,602,1101 Bucuresti Boulevard,None,West Greece,401,97661.0,(19951) 458-0428,2/15/2006 9:45,NaN
598,603,1103 Quilmes Boulevard,None,Piura,503,52137.0,(64402) 138-0889,2/15/2006 9:45,NaN
599,604,1331 Usak Boulevard,None,Vaud,296,61960.0,(14530) 871-7464,2/15/2006 9:45,NaN
600,605,1325 Fukuyama Street,None,Heilongjiang,537,27107.0,(28824) 121-5394,2/15/2006 9:45,NaN
601,1,47 MySakila Drive,None,Alberta,300,NaN,None,2/15/2006 9:45,NaN
602,3,23 Workhaven Lane,None,Alberta,300,NaN,(1403) 333-5568,2/15/2006 9:45,NaN

In [ ]:
#clip city_id2
def clip_city_id2(city_id):
    if city_id > 0 and city_id <=100 :
        city_id = "ALPHA"
    elif city_id > 100 and city_id <=300:
        city_id = "BETA"
    elif city_id >400 and city_id <=500:
        city_id = "DELTA"
    else:
        city_id = "GAMA"
    return city_id

#data_srinurow["city_id"].apply(lambda x: clip_city_id2(x)) [:100]
data_srinurow